<form  class="navbar-form pull-right">
<input type="text" style="width:150px" class="input-small"
placeholder="Recherche">
<button type="submit" class="btn btn-primary btn-xs"><span
class="glyphicon glyphicon-eye-open"></span> Chercher</button>
</form>
